html,body{
  height: 100%;
  width: 100%;
  margin: 0;
}
#cover{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #5822ff !important;
  background-size: cover;
}
.section-2{
  height: 100%;
  background-color: rgb(255,233,186);
  padding-bottom: 50px;
}
.section-3{
  height: 100%;
  background-color: #171922;
  padding-bottom: 50px;
}
.phone{
  float: right;
  position: relative;
  top: 53px;
  right: 15%;
}
.main-img{
  width: 100%;
}
.logo{
  height: 150px;
  margin-top: 5%;
  margin-left: 100px;
}
.desc-text{
  margin-top: 30%;
}
.white{
  color:white !important;
}
.inner-phone{
  top: -594px;
  left: 31px;
  position: relative;
  height: 495px;
  width: 278px;
  background-size: cover;
}
.cell-phone-img{
  height: 495px;
  width: 278px;
}
.iphone{
  height: 700px;
}
.justify{
  text-align: justify !important;
  text-justify: inter-word !important;
}
#main-frase{
  font-weight: 400;
  font-size: 3em;
  margin-top: 5% !important;
}
#secondary-frase{
  font-weight: 200;
  font-size: 1.5em;
}
.fixed{
  position: fixed;
  right: 15%;
  top: 50px;
}
#name{
  font-size: 5em;
  font-weight: 700;
}
h2{
  font-size: 4em !important;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}
p{
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  }
p.big {
    line-height: 200%;
}
h1{
  font-family: 'Montserrat', sans-serif; !important;
  color: white !important;
  font-weight: 700;
  letter-spacing: 2px;
}
.no-padding{
  padding: 0 !important;
}
.store{
  width: 200px;
  margin: 10px;
}
.download-icons{
  margin-top: 30px;
}
@media only screen and (max-width: 767px){

  .phone{
    display: none;
  }
  #name{
    font-size: 3em;
  }
  #main-frase{
    font-size: 1.8em;
  }
  #secondary-frase{
    font-size: 1.2em;
  }
}



