html,body{
  height: 100%;
  width: 100%;
  margin: 0;
}
#cover{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}
.section-2{
  height: 100%;
  background-color: red;
}
.section-3{
  height: 100%;
  background-color: yellow;
}
.phone{
  position: fixed;
  right: 0;
  top: 10%;
}
.inner-phone{
  position: absolute;
  top: 16.2%;
  left: 31.2%;
  height: 471px;
  width: 265px;
  background-color: green;
}
.iphone{
  height: 700px;
}
#main-frase{
  font-size: 1.5em;

}
.center{
  margin: 0 auto;
  width: 80%;
}
h1{
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Lora', serif;*/
  margin-top: 20%;
}

